/* style.css */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fffffc;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

#navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.navbar-links {
    margin-right: 16px;
    color: #5f6368;
    text-decoration: none;
    font-size: 13px;
    margin-top: 8px;
}

.navbar-links:hover {
    text-decoration: underline;
}

.navbar-icons:first-child {
    width: 40%;
    height: auto;
}

.navbar-icons:last-child {
    width: 30px;
    height: auto;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 115px;
    margin-bottom: 35px;
}

main {
    display: flex;
}

#search-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 44px;
    border: 1px #dfe1e3 solid;
    border-radius: 30px;
    box-shadow: 1px 2px 6px #dfe1e3;
}

.search-icon {
    width: 23px;
    height: 25px;
    margin: 0px 15px;
}

#search-input-box input {
    width: 462px;
    height: 41px;
    border: none;
    margin: 0;
    font-size: 16px;
    color: #222;
}

#search-input-box input[type=text]:focus {
    outline: none;
}

#buttons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.search-button {
    display: inline-block;
    text-decoration: none;
    color: #3c4043;
    text-align: center;
    width: 156px;
    height: 37px;
    padding: 10px 10px;
    margin: 25px 4px;
    border: 1px solid #fffffc;
    border-radius: 5px;
}

.search-button:hover {
    border: 1px solid #dfe1e3;
}

#search-language-box {
    margin: 0 auto;
    width: 230px;
    font-size: 12px;
    color: #222;
}

.search-language-links {
    margin: 25px 0;
    color: #1a0dab;
    text-decoration: none;
}

.search-language-links:hover {
    text-decoration: underline;
}

.search-language-links:first-child {
    margin-right: 5px;
}